<!-- /*
============================================
; Title:  contact.components.html 
; Author: Professor Krasso
; Date: 19. April, 2024
; Modified by: Joanna Brumfield
; Description: Contact Components HTML
;===========================================
*/ -->
<div fxLayout="row wrap" fxLayoutAlign="space-evenly center"  fxLayoutGap="10px">

    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">location_on</mat-icon>
      </mat-card-title>
      <mat-card-content class="align-center">
        <p>500 Main St</p>
        <p>Omaha, Nebraska</p>
      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <mat-card-content class="align-center">
        <p>Direct: (555)296-9434</p>
        <p>Toll-free: 1(888)555-4324</p>
        <p>Fax: (555)555-4324</p>
      </mat-card-content>
    </mat-card>
  </div>
<br>
<br>
<br>
<div fxLayout="column">
  <p style="text-align: center;">
    Visit us online or at one of our locations
  </p>
</div>
