<main class="vh-100">
<div class="card m-auto mt-5" style="width: 35%;">
  <h5 class="card-header p-3">Sign In</h5>
  <div class="card-body">
    <form class="py-3">
      <div class="mb-3">
        <label for="exampleInputUsername" class="form-label fw-bold">Username</label>
        <input type="username" class="form-control" placeholder="Enter Username or Email" id="exampleInputUsername">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
        <input type="password" class="form-control" placeholder="Enter Password" id="exampleInputPassword1">
      </div>

      <button type="button" class="btn btn-outline-secondary mt-3 float-end" (click)="signin()">Submit</button>
    </form>
  </div>
</div>
