<div class="container">
  <div class="row pt-5 justify-content-center">
    <div class="col-4">
      <div class="d-flex fs-4">
        <i class="bi bi-telephone text-dark me-2"></i>
        <h2 class="ml-5">Phone</h2>
      </div>

      <p>1-800-BAROQUE</p>
    </div>
    <div class="col-4">
      <div class="d-flex fs-4">
        <i class="bi bi-geo-alt text-dark me-2"></i>
        <h2>Address</h2>
      </div>
      <p>St. Thomas Church<br>Thomaskirchhof 18,<br> 04109 LeipzigLeipzig,<br> Germany</p>
    </div>
  </div>
</div>
