<!-- /*
============================================
; Title:  not-found.component.html 
; Author: Professor Krasso
; Date: 28. April, 2024
; Modified by: Joanna Brumfield
; Description: Not Found html
;===========================================
*/ -->
<div fxLayout="column" style="padding-top: 5rem;">
  <mat-card fxFlex style="margin:0 auto; padding: 3rem; width:80%;" class="mat-elvation-z0">
    <mat-card-title>
      <img src="./assets/not-found-image.png" >
    </mat-card-title>
    <mat-card-content style="text-align: center;">
      <button mat-raised-button color="accent" routerLink="/">Return Home</button>
    </mat-card-content>
  </mat-card>
</div>
