<!-- /*
============================================
; Title:  about.components.html 
; Author: Professor Krasso
; Date: 19. April, 2024
; Modified by: Joanna Brumfield
; Description: About Components HTML
;===========================================
*/ -->


<div fxLayout.lg="row" fxLayout.xl="row" fxLayout.md="column" fxFlex fxLayoutGap="3em">
  <div>
    <img src="../assets/images/erdrich.jpg" width="400px" alt="">
    <p><em>Photo credit <a class="attribution-link"
          href="https://www.newyorker.com/books/double-take/letter-from-the-archive-louise-erdrich">The New Yorder</a>
      </em></p>
  </div>
  <div>
    <h4 class="blue">Louis Erdich</h4>
    <p>

      Born in Little Falls, Minn., in 1954, Karen Louise Erdrich was the first of seven children raised in Wahpeton,
      N.D., by a German-American father and a mother who is half French-American, half Ojibwe.
      <br>
      From 1972 to 1976, Erdrich studied English at Dartmouth College and was a member of its first co-ed class. In
      1979, Erdrich earned a master of arts degree in the Writing Seminars at Johns Hopkins University. She returned to
      Dartmouth in 2009 to receive an honorary doctorate in letters and to deliver the commencement address.
      <br>
      Erdrich’s career spans more than 30 years. She has written multiple novels, starting with “Love Medicine” (1984).
      She has received the National Book Award and the National Book Critics Circle Award. In addition to awards for her
      individual works, Erdrich is also the recipient of a Guggenheim Fellowship in the Creative Arts (1985), a Lifetime
      Achievement Award from the Native Writers’ Circle of the Americas (2000) and the PEN/Saul Bellow Award for
      Achievement in American Fiction (2014). Much of Erdrich’s writing focuses on Native American history and culture.
    </p>
    <p><em>Biography by: <a class="attribution-link" href="https://www.loc.gov/item/n83129937/louise-erdrich/">
          LOC</a></em></p>
  </div>
</div>
