<!-- FOOTER -->
<footer>		
  <div class="footer-row wrap">
    <!-- CONTACT SECTION -->	
    <div class="footer-col">
      <address>
        <p>
          4885 University Drive<br>
          Chicago,IL<br>
          60610
        </p>
        <!-- <a href="mailto:laurasfakeemail@example.com">laurasfakeemail@example.com</a> -->

      </address>
    </div>

    <!-- LINKS -->
    <div class="footer-col">
      <p><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">Learn Flexbox</a></p>
      <p><a href="https://css-tricks.com/snippets/css/complete-guide-grid/">Learn CSS Grids</a></p>
     </div>	
  </div>
  <!-- SOCIAL MEDIA -->
  <div class="social">
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
  </div>
  <!--COPYRIGHT-->
  <p class="copyright">&copy Joanna Brumfield</p>
</footer>
