<div class="row contatiner justify-content-center">
  <div class="col-sm-8 pt-5">

    <input type="search" [formControl]="txtSearchControl" class="form-control mb-3"  placeholder="Search">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="bg-secondary text-light">Composer ID</th>
          <th scope="col" class="bg-secondary text-light">Name</th>
          <th scope="col" class="bg-secondary text-light">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let composer of composers$ | async">
          <td>
            <a routerLink="/composer-details/{{composer.composerId}}" routerLinkActive="router-link-active">
              {{composer.composerId}}
            </a>
          </td>
          <td>{{ composer.fullName }}</td>
          <td>{{ composer.genre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
